name: Generate Dokka CrystalShard-Paper

on:
  push:
    branches:
      - master
    tags:
      - v.*
jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '22'

      - name: Grant execute permission for Gradle
        run: chmod +x gradlew
      - name: Call my Gradle Task
        run: ./gradlew :paper:dokkaGenerateHtml

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: './common/build/html/'
          destination_dir: 'common'