name: Publish to GitHub Packages

on:
  push:
    branches:
      - master
  #  release:
  #   types: [created]

jobs:
  publish:
    strategy:
      matrix:
        tasks: [ box, core, custom, dhl, pack, panic, simulacrum ]
    runs-on: ubuntu-latest


    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '22'

      - name: Grant execute permission for Gradle
        run: chmod +x gradlew
      - name: Build PaperCore
        run: ./gradlew paper:${{ matrix.tasks }} publish -DREPOSILITE_USER=${{ secrets.REPOSILITE_USER }} -DREPOSILITE_TOKEN=${{ secrets.REPOSILITE_TOKEN }}